@model TeamExplorer.Controllers.CharterViewModel
@{
    ViewBag.Title = Model.Charter.Title;
}

<h2>Create a new issue</h2>
<div ng-app="charterApplication" ng-controller="issueController" ng-init="CharterId=@Model.Charter.Id">

    <form>
        <fieldset>
            <legend>Create new issue</legend>

            <div class="form-group">
                <label for="issueType">Issue Type</label>
                <select id="issueType" name="issueType" ng-model="issue.IssueType" class="form-control">
                    <option value="Bug">Bug</option>
                    <option value="Issue">Issue</option>
                    <option value="Note">Note</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" ng-model="issue.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label for="description">Details</label>
                <textarea id="details" name="details" ng-model="issue.Details" class="form-control"></textarea>
            </div>
        </fieldset>

        <fieldset>
            <legend>Developer information</legend>
        </fieldset>

        <fieldset>
            <legend>Screenshots: {{CharterId}}</legend>
            <div class="screenshots" ng-repeat="image in issue.Images">
                <img ng-src="{{image}}" />
            </div>
        </fieldset>
        <button ng-click="save()">Create!</button>
    </form>

    <h2>Reported issues</h2>
    <table>
        <caption>Reported issues</caption>
        <thead>
            <tr>
                <th>Description</th>
                <th>Issue Type</th>
            </tr>
        </thead>
        <tbody ng-repeat="issue in issues">
            <tr>
                <td>{{issue.Description}}</td>
                <td>{{issue.IssueType}}</td>
                <td ng-repeat="image in issue.Images">
                    <img ng-src="{{image}}"/>
                </td>
            </tr>
        </tbody>

    </table>
</div>



<script src="/Scripts/angular.js"></script>
<script src="/Scripts/angular-resource.js"></script>

<script>
    var cropsApp = angular.module('charterApplication', ["issueService"]);

    var api = angular.module("issueService", ["ngResource"]);
    api.factory("Issue", function($resource) {
        return $resource(
            "/api/issue/:Id",
            { Id: "@@Id" },
            { "update": { method: "PUT" } }
        );
    });

    cropsApp.controller('issueController', function($scope, Issue) {
        $scope.issues = Issue.query({ charterId: parseInt("1", 10) });
        $scope.issue = issueFactory();

        function issueFactory() {
            var issue = new Issue();
            issue.Images = [];
            return issue;
        }

        $scope.save = function () {
            $scope.issue.CharterId = $scope.CharterId;
            
            console.log($scope.issue);
            $scope.issue.$save();
            $scope.issues.push($scope.issue);
        };

        var imageLoaded = function(src) {
            $scope.issue.Images.push(src);
            $scope.$apply();
        };

        document.onpaste = function (event) {
            var items = event.clipboardData.items;
            console.log(JSON.stringify(items));

            var blob = items[0].getAsFile();
            var reader = new FileReader();
            reader.onload = function (loaded) {
                imageLoaded(loaded.target.result);
            };

            reader.readAsDataURL(blob);
        };

    });
</script>