@model TeamExplorer.Controllers.CharterViewModel
@{
    ViewBag.Title = Model.Charter.Title;
}

<h2>Create a new issue</h2>
<div ng-app="charterApplication" ng-controller="issueController" ng-init="CharterId=@Model.Charter.Id">

    <form>
        <fieldset>
            <legend>Create new issue</legend>

            <div class="form-group">
                <label for="issueType">Issue Type</label>
                <select id="issueType" name="issueType" ng-model="issue.IssueTypeId" class="form-control" ng-options="issueType.Id as issueType.Name for issueType in issueTypes">
                    <option value="Bug">Bug</option>
                    <option value="Issue">Issue</option>
                    <option value="Note">Note</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" ng-model="issue.Description" class="form-control" />
            </div>

            <div class="form-group">
                <label for="description">Details</label>
                <textarea id="details" name="details" ng-model="issue.Details" class="form-control"></textarea>
            </div>
        </fieldset>

        <fieldset>
            <legend>Developer information</legend>
            <div class="form-group">
                <label for="url">URL to reproduce the issue</label>
                <input type="url" id="url" name="url" ng-model="issue.Url" class="form-control" />
            </div>

            <div class="form-group">
                <label for="stacktrace">Stack trace</label>
                <textarea id="stacktrace" name="stacktrace" ng-model="issue.StackTrace" class="form-control"></textarea>
            </div>

        </fieldset>

        <fieldset>
            <legend>Screenshots</legend>

            <div class="row">
                <div class="col-lg-3" ng-repeat="image in issue.Images">
                    <a href="#" class="thumbnail">
                        <img ng-src="{{image}}" alt="">
                    </a>
                </div>
            </div>
            
            <div class="alert alert-info" ng-show="!issue.Images.length">
                Just paste an images from the clip board to attach
            </div>
            
        </fieldset>

        <div class="btn-toolbar">
            <button ng-click="save()" class="btn btn-primary">Create Issue</button>    
        </div>        
    </form>
</div>

<script src="/Scripts/angular.js"></script>
<script src="/Scripts/angular-resource.js"></script>

<style type="text/css">
    .thumbnail img {
        height: 200px;
        display: block;
        margin: 0 auto;
    }
</style>

<script>
    var cropsApp = angular.module('charterApplication', ["issueService"]);

    var api = angular.module("issueService", ["ngResource"]);
    api.factory("Issue", function ($resource) {
        return $resource(
            "/api/issue/:Id",
            { Id: "@@Id" },
            { "update": { method: "PUT" } }
        );
    });

    api.factory("IssueType", function ($resource) {
        return $resource(
            "/api/issuetype/:Id",
            { Id: "@@Id" },
            { "update": { method: "PUT" } }
        );
    });

    cropsApp.controller('issueController', function ($scope, Issue, IssueType) {
        $scope.issues = Issue.query({ charterId: parseInt("1", 10) });
        $scope.issueTypes = IssueType.query();

        $scope.issue = issueFactory();

        function issueFactory() {
            var issue = new Issue();
            issue.Images = [];
            return issue;
        }

        $scope.save = function () {
            $scope.issue.CharterId = $scope.CharterId;

            console.log($scope.issue);
            $scope.issue.$save();
            $scope.issues.push($scope.issue);
        };

        var imageLoaded = function (src) {
            $scope.issue.Images.push(src);
            $scope.$apply();
        };

        document.onpaste = function (event) {
            var items = event.clipboardData.items;
            console.log(JSON.stringify(items));

            var blob = items[0].getAsFile();
            var reader = new FileReader();
            reader.onload = function (loaded) {
                imageLoaded(loaded.target.result);
            };

            reader.readAsDataURL(blob);
        };

    });
</script>
